name: school_data_hub_flutter
description: A new Flutter project with Serverpod.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.5.1+1

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: '>=3.19.0'

dependencies:
  flutter:
    sdk: flutter

  serverpod_flutter: 2.9.1
  school_data_hub_client:
    path: ../school_data_hub_client


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.5
  window_manager: ^0.5.0
  serverpod_auth_shared_flutter: 2.9.1
  watch_it: ^1.7.0
  package_info_plus: ^9.0.0
  file_picker: ^10.3.2
  gap: ^3.0.1
  flutter_localizations: 
    sdk: flutter
  flutter_secure_storage: 10.0.0-beta.1 # ^8.1.0 # not using 9.2.2 because of https://github.com/mogol/flutter_secure_storage/issues/634
  intl: any
  mobile_scanner: ^7.0.1
  carousel_slider: ^5.0.0
  qr_flutter: ^4.1.0
  qr_code_vision: ^0.1.2 ## This one is used to read a qr code from an image - we need it to scan code files in windows (no camera)
  image_picker: ^1.1.2
  pasteboard: ^0.4.0
  path_provider: ^2.1.5
  crop_image: ^1.0.16
  widget_zoom: ^0.0.4
  custom_image_crop: ^0.1.1
  flutter_cache_manager: ^3.4.1
  top_snackbar_flutter: ^3.2.0
  encrypt: ^5.0.3
  json_annotation: ^4.9.0
  # collection: 1.19.1
  flutter_settings_ui: ^3.0.1
  device_info_plus: ^12.1.0
  flutter_launcher_icons: ^0.14.3
  logging: ^1.3.0
  ansicolor: ^2.0.3
  table_calendar: ^3.1.3
  calendar_date_picker2: 2.0.1
  cryptography_plus: ^2.7.1
  pdf: ^3.11.3
  printing: ^5.14.2
  url_launcher: ^6.3.1
  dio: ^5.8.0+1
  serverpod_auth_client: ^2.9.1
  image_picker_platform_interface: ^2.10.1
  isbn: ^1.0.4
  serverpod_client: ^2.9.1
  cristalyse: ^1.2.3
  shorebird_code_push: ^2.0.4
  flex_color_picker: ^3.7.1
  msix: ^3.16.12
  uml_for_serverpod: ^0.0.5
  community_charts_flutter: ^1.0.4


dev_dependencies:
  flutter_lints: '>=3.0.0 <6.0.0'
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.6
  json_serializable: ^6.8.0
  change_app_package_name: ^1.1.0
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  generate: true
  assets:
    - assets/
    - shorebird.yaml
    # - shorebird.yaml

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

dependency_overrides:
  archive: ^3.6.1
  get_it: ^8.0.3
msix_config:
  display_name: Schuldaten Hub
  publisher_display_name: Medien-Sandkasten
  build_windows: false
  identity_name: de.medien-sandkasten.schuldaten-hub
  msix_version: 0.5.1.1
  app_installer: #<-- app installer configuration
    publish_folder_path: V:\
  logo_path: V:\schuldaten_hub_logo.png
  capabilities: internetClient
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
